name: OSV-Scanner

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  schedule:
    - cron: '30 12 * * 1'

permissions:
  contents: read
  security-events: write

jobs:
  check-security:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.2
    with:
      scan-args: |-
        -r
        ./
    permissions:
      security-events: write
      contents: read
      actions: read
